################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/COSC4348-Game-Art/v16/.suo

MC\ Script
Options_Menu_Code
Program.cs
Pause\ Menu

# =============== #
# Unity generated #
# =============== #
/Unity/Tethys/[Tt]emp/
/Unity/Tethys/[Oo]bj/
/Unity/Tethys/[Bb]uild
/[Bb]uilds/
/Unity/Tethys/[Ll]ibrary/
/Unity/Tethys/[Ll]ibrary/Artifacts/
/Unity/Tethys/sysinfo.txt
/*.stackdump
/Unity/Tethys/Assets/AssetStoreTools*
/Unity/Tethys/*.apk
/Unity/Tethys/*.unitypackage
/Unity/Tethys/*.sln*
/Unity/Tethys/*.csproj
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
Unity/Tethys/Library/CurrentMaximizeLayout.dwlt
Unity/Tethys/Library/Artifacts/fa/fa62fcf0f0ee92950fb96abe5386bb25
Unity/Tethys/Library/Artifacts/f3/f3edc194a50eface9d74c4b805197bf1
Unity/Tethys/Library/Artifacts/eb/eb25a8b610893f3cc3abfe7e695ea816
Unity/Tethys/Library/Artifacts/e9/e97c341a358501403eb299c3b791096a
Unity/Tethys/Library/Artifacts/e9/e91b8363895a822a60d1d51ba165a5dd
Unity/Tethys/Library/Artifacts/e9/e91588ee9f868db1b0446526a1aca95f
Unity/Tethys/Library/Artifacts/e7/e7b0e76f95af203cb39e463149e3a658
Unity/Tethys/Library/Artifacts/e5/e52edee8639346d821d1d6a7697a5a69
Unity/Tethys/Library/Artifacts/e0/e0953981a6edf0fe06fa5982eb0e4aa5
Unity/Tethys/Library/Artifacts/dd/ddcaa59b450183321651cc62ffb07b5e
Unity/Tethys/Library/Artifacts/d9/d9eb7910c9fabc4a07e11a123840a0b8
Unity/Tethys/Library/Artifacts/d8/d82dcd75147691d317f19e1d00904c94
Unity/Tethys/Library/Artifacts/d2/d2abd0526846f1df584fb38944c00089
Unity/Tethys/Library/Artifacts/cf/cf652fc15a9e5d480c4fbbd3628c2fe2
Unity/Tethys/Library/Artifacts/cb/cb021e32de1dadfe2119257a3facc7fa
Unity/Tethys/Library/Artifacts/c9/c9dc707e0edcacbded51ecbae6a48ed1
Unity/Tethys/Library/Artifacts/c7/c76c71b619c38f53ddd171ea176aaad5
Unity/Tethys/Library/Artifacts/c6/c6192ff4dc785bba707a0ec86e697bdf
Unity/Tethys/Library/Artifacts/c5/c5391578f98357c4fdf4f34437cf43c1
Unity/Tethys/Library/Artifacts/c2/c23187694dfb9e4a95628201314b1ced
Unity/Tethys/Library/Artifacts/c1/c138cc4a33c7e38eaf574a7ff7edb857
Unity/Tethys/Library/Artifacts/c1/c10c9f7905b792597b109dec64a165c7
Unity/Tethys/Library/Artifacts/c0/c0a471fb7752adcbfc5c139407ec8bd8
Unity/Tethys/Library/Artifacts/c0/c08634c5e529a4512e8038e8a6c39cd5
Unity/Tethys/Library/Artifacts/c0/c078932885cdb8be86808374c5f865d5
Unity/Tethys/Library/Artifacts/bb/bb43f631c054497a53ade97b19079dcf
Unity/Tethys/Library/Artifacts/b6/b692e12f54a9f3ccf0ac908965240bc1
Unity/Tethys/Library/Artifacts/b5/b5d6d00738403e62ab7ea8d1af196c88
Unity/Tethys/Library/Artifacts/b2/b2e06a3f91de4916e0845c1793508a3b
Unity/Tethys/Library/Artifacts/ac/acdf3fa7159fe88403c9be1d6efd5dfc
Unity/Tethys/Library/Artifacts/aa/aac2b5ea8a4cf53b312aac2ef4bcbade
Unity/Tethys/Library/Artifacts/a5/a56a4caf84d1bc8ddc40e09d6fb0464f
Unity/Tethys/Library/Artifacts/a2/a2f4332dfa6c788fd14f37c17c7afdeb
Unity/Tethys/Library/Artifacts/a1/a177755d97cee38b7ebd3bd4802a8557
Unity/Tethys/Library/Artifacts/9c/9c3587125d3f1d7fa6e876607eaf6e56
Unity/Tethys/Library/Artifacts/9c/9c06fdb7e1165e7a02b0ff9a20216052
Unity/Tethys/Library/Artifacts/9b/9b96757579cf88622d3bca3e17f2897f
Unity/Tethys/Library/Artifacts/9a/9ae6f4a9abf4ed8c0177f890c69c81b2
Unity/Tethys/Library/Artifacts/97/979317b40976185c45659dfbae110034
Unity/Tethys/Library/Artifacts/97/9717812b5a7f0dbb2474505401325a93
Unity/Tethys/Library/Artifacts/96/969d20a90b3a7794c412dce189c7e922
Unity/Tethys/Library/Artifacts/93/9379d278c8fb1fc833bb0c48b1eaf350
Unity/Tethys/Library/Artifacts/91/91cbc7625b1c9dbe9f78f7aa282ad6a7
Unity/Tethys/Library/Artifacts/91/91aaddf7ad983719f1e65be7aa57bf1c
Unity/Tethys/Library/Artifacts/8e/8e175a37c1ffde365c56a8712e44ef24
Unity/Tethys/Library/Artifacts/8c/8c3c3381a10d2514b4dec367caac1fa2
Unity/Tethys/Library/Artifacts/8a/8ac457e36decd8f435a1bfad786b4fc1
Unity/Tethys/Library/Artifacts/85/8543efca8633d6f0c60006f02e74b428
Unity/Tethys/Library/Artifacts/85/8520f2e837ddcaa9e5895f25ea4c2a1c
Unity/Tethys/Library/Artifacts/84/842dabb8dd97dfc35e8549f50349441a
Unity/Tethys/Library/Artifacts/84/840944527abf8cb62c685862fa621e9c
Unity/Tethys/Library/Artifacts/7e/7e53d69b8b3fa9da7dddda27cd60c08b
Unity/Tethys/Library/Artifacts/7d/7d98471d4ffd74579495ee5d862e578f
Unity/Tethys/Library/Artifacts/7b/7b2759a35a09263789ffa6c2a74e6bf2
Unity/Tethys/Library/Artifacts/78/786b9d07cc88b343fff816dbb0683cef
Unity/Tethys/Library/Artifacts/75/7541e6ff669c2ea3c0fea61a91e0bda1
Unity/Tethys/Library/Artifacts/6e/6e107535d2e471a9a6123db1dea11929
Unity/Tethys/Library/Artifacts/68/68b33e6f7215fdf5e7e137d2185d5a63
Unity/Tethys/Library/Artifacts/64/64f52fc4a9e79e819a0b422f7feaa0a1
Unity/Tethys/Library/Artifacts/62/623d34593b05c6f22be6d02e6fd9c15d
Unity/Tethys/Library/Artifacts/60/6079b38dc7a343ac2fe8b850df6861f7
Unity/Tethys/Library/Artifacts/5e/5ef05c47582e4086aa0b81effbac343d
Unity/Tethys/Library/Artifacts/5e/5ed2ff502ec65fe0c3ca0dbe743adfa3
Unity/Tethys/Library/Artifacts/59/596cbcaac45ac6099649e9b7ee9d75cf
Unity/Tethys/Library/Artifacts/52/523b7b921da97c93a9a3b6c77b777550
Unity/Tethys/Library/Artifacts/4c/4c2ab8b08fb73eb510d86225f406cf71
Unity/Tethys/Library/Artifacts/4b/4b6426506b67d38dad828348d373d989
Unity/Tethys/Library/Artifacts/49/49235c04a5b8fe7144bbae0068346852
Unity/Tethys/Library/Artifacts/48/489ad3bdbf7c4fb93f3bb050b65ae8c8
Unity/Tethys/Library/Artifacts/46/46901850ba913c227d3b4860472c55de
Unity/Tethys/Library/Artifacts/45/45f47456b1a7bcbaa196ddd3637108a7
Unity/Tethys/Library/Artifacts/45/45945767af7b9f0de8c353882123cb68
Unity/Tethys/Library/Artifacts/45/4578b4574595fe10b5535bfce0d39df4
Unity/Tethys/Library/Artifacts/40/40e3e76fea318a8ec86db725aa8a452a
Unity/Tethys/Library/Artifacts/40/400ed2eb25371bc074d2ea698c4c4647
Unity/Tethys/Library/Artifacts/3d/3dfcc183302b4dd9bc539bbf7a2d0746
Unity/Tethys/Library/Artifacts/3a/3ab65b67b8fd9205ba9aa70234c9c027
Unity/Tethys/Library/Artifacts/39/39d2c2ab7777c419e13b8622fdc56a7b
Unity/Tethys/Library/Artifacts/39/391e40dbf5b322ae079f72b211bd4cd8
Unity/Tethys/Library/Artifacts/38/38c83ba4ad446af1831a312e7b73cf7c
Unity/Tethys/Library/Artifacts/34/34cd4e7b4da1e5c37d16d870ae1e29be
Unity/Tethys/Library/Artifacts/34/348054b8958d2f7e052cced7238e24f8
Unity/Tethys/Library/Artifacts/30/30f5a23ea49d568ea8ed7e214c324d1b
Unity/Tethys/Library/Artifacts/2f/2fe967cdcc97675efd200ea49023cda2
Unity/Tethys/Library/Artifacts/2a/2a93e64171e489198e5b26a7afd9c73b
Unity/Tethys/Library/Artifacts/29/29bc619cecf3f12dc2f3a0c679eb02af
Unity/Tethys/Library/Artifacts/29/29522caf9258380f03c7ffb2da97cbcc
Unity/Tethys/Library/Artifacts/27/27eaf0c2324aa16499b1fb9afc64adfb
Unity/Tethys/Library/Artifacts/25/256c9f61ce35512e17f48982848b528a
Unity/Tethys/Library/Artifacts/24/24b6f3df625b2b4349ee0511ecf1b653
Unity/Tethys/Library/Artifacts/24/2425b58d6f8c4992dcbdb03a4eeda1ac
Unity/Tethys/Library/Artifacts/23/234ac7bf9131136757b5aa9652a787b3
Unity/Tethys/Library/Artifacts/22/224d452d6f91843e7702b8aab83569ee
Unity/Tethys/Library/Artifacts/22/22153b5e2cac3d5e6a648e6da1d0f0e6
Unity/Tethys/Library/Artifacts/1e/1ea556d1623faec5f222a904f26b2243
Unity/Tethys/Library/Artifacts/1d/1d02fde917bb32bd02c94edc890d5b32
Unity/Tethys/Library/Artifacts/1b/1b7665367c0a8492518144128e2e7b63
Unity/Tethys/Library/Artifacts/19/193e895629119b4d660412ea0301c857
Unity/Tethys/Library/Artifacts/19/193c85474846cc4c5d9e47e48947e103
Unity/Tethys/Library/Artifacts/13/13297818e4b6c5421eed08e92820caae
Unity/Tethys/Library/Artifacts/07/073bfd997ec4bdf06c5f846549282817
Unity/Tethys/Library/Artifacts/06/06eb5d7a556f568d699e6960b1b8bc1e
Unity/Tethys/Library/Artifacts/05/054380270df1ad478f31ad5202ab7cf2
Unity/Tethys/Library/Artifacts/04/041ff7def3157588b93fd469c550fa46
Unity/Tethys/Library/Artifacts/02/02757705f4bc709c282b2d254469f443
*.log
Unity/Tethys/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Unity/Tethys/Library/ArtifactDB
*.log
Unity/Tethys/Library/Artifacts/ff/ff36036dc2f8e8ee5a5a2961af2ac998
Unity/Tethys/Library/Artifacts/fb/fb4ac570e5d0b5c68a86c2ad959e860a
Unity/Tethys/Library/Artifacts/e9/e9df4a6d408e4e593b11c47eec60f651
Unity/Tethys/Library/Artifacts/e4/e4b93d2e78d94e1f206dfd7c1773e89c
Unity/Tethys/Library/Artifacts/de/dee78243d875e7156e9b042df7039958
Unity/Tethys/Library/Artifacts/dd/ddbd73e54c827eede6922c78b946784c
Unity/Tethys/Library/Artifacts/da/da12546b69ec080df1509f25bebf7312
Unity/Tethys/Library/Artifacts/cb/cb364cb626c324cb4ab38fe43d2042b5
Unity/Tethys/Library/Artifacts/c0/c0939a428a8ffd89fa775ab61780dc3a
Unity/Tethys/Library/Artifacts/bb/bbdc440e593097907e3550092136be05
Unity/Tethys/Library/Artifacts/b6/b632d62a5a56eb5af4a4868e1547c543
Unity/Tethys/Library/Artifacts/ad/ad0da3aca0081b5f46935eabb105889c
Unity/Tethys/Library/Artifacts/a4/a4a30160aed3d90f15df3969ad29a187
Unity/Tethys/Library/Artifacts/9d/9d46b1084bf2479f09cf5c7c9fccb983
Unity/Tethys/Library/Artifacts/9b/9bfcdcbf49b030d8a1ed4818edb5a3f7
Unity/Tethys/Library/Artifacts/9b/9b6347e36a7948ac2640f424113b64ac
Unity/Tethys/Library/Artifacts/96/96be3bc513a3cf85afe4a20e02fe22a9
Unity/Tethys/Library/Artifacts/94/941cd68511ad1f7d26b6a32f67328368
Unity/Tethys/Library/Artifacts/92/9202607353fcad98d4624eee2b2da579
Unity/Tethys/Library/Artifacts/90/9038a5db22699cbb89cac0388b8fc244
Unity/Tethys/Library/Artifacts/7b/7b7912769192836288f88963db2b3f80
Unity/Tethys/Library/Artifacts/58/58127fb0a5977712de7a4fb7dff72901
Unity/Tethys/Library/Artifacts/56/567471966bfd594735e35c8ef1881de1
Unity/Tethys/Library/Artifacts/4f/4f9495e8c07c629a6ffabd192dbb4a9b
Unity/Tethys/Library/Artifacts/45/450e03b340b44f080be561c7f73418dd
Unity/Tethys/Library/Artifacts/3e/3eac2bd98d0ed3744582f88ced693bb2
Unity/Tethys/Library/Artifacts/3a/3aa8b0e09bb910e8890c4030a4ebe595
Unity/Tethys/Library/Artifacts/26/26c2b8ab33df00f63387a9c334d1adeb
Unity/Tethys/Library/Artifacts/1b/1b884656035d247ab85cf3d11f95c09a
Unity/Tethys/Library/Artifacts/07/070eed70a72c4e974cfd6566f8927446
Unity/Tethys/Library/ArtifactDB
Unity/Tethys/Library/ArtifactDB
Unity/Tethys/Library/CurrentLayout-default.dwlt
Unity/Tethys/Library/EditorInstance.json
Unity/Tethys/Library/expandedItems
Unity/Tethys/Library/GridBrush/UnityEditor.Tilemaps.GridBrush.asset
Unity/Tethys/Library/PackageManager/ProjectCache.bin
Unity/Tethys/Library/SceneVisibilityState.asset
Unity/Tethys/Library/ScriptAssemblies/Assembly-CSharp.dll
Unity/Tethys/Library/ScriptAssemblies/Assembly-CSharp.pdb
Unity/Tethys/Library/ShaderCache/EditorEncounteredVariants
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe0.log
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe1.log
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe2.log
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe3.log
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe4.log
Unity/Tethys/Library/shadercompiler-UnityShaderCompiler.exe5.log
Unity/Tethys/Library/SourceAssetDB
Unity/Tethys/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Unity/Tethys/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Unity/Tethys/Library/ArtifactDB
Unity/Tethys/Library/CurrentLayout-default.dwlt
*.log
Unity/Tethys/Library/SourceAssetDB
Unity/Tethys/Library/SourceAssetDB-lock
Unity/Tethys/Library/Style.catalog
